@model AnotherProductsShop.Models.User
  
@{
    Layout = null;
 }  
  
  
<h2>Register</h2>  
  
@using (Html.BeginForm("CreateUser", "User"))
{

    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <p>
        <input type="submit" value="Reg"/>
    </p>
}
<fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>
<div id ="authstatus">
    
</div>






<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '718615222002048',
      cookie     : true,
      xfbml      : true,
      version    : 'v6.0'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
  
FB.getLoginStatus(function(response) {
    $("#authstatus").html("<code>" + JSON.stringify(response, null, 2)+"</code>");
});

function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}
</script>